<!DOCTYPE html>
<html>
  <head>
    <title>Anagram</title>
  </head>
  <body>
    <h1>Let's play with words</h1>
    <form action="/result">
      <div class="form-group">
        <label for="base_word">Input a base word.</label>
        <input id="base_word" name="base_word" type="text" required>
      </div>
      <div class="form-group">
        <label for="input1">Input a potential anagram.</label>
        <input id="input1" name="input1" type="text" required>
      </div>
      <div class="form-group">
        <label for="input2">Input a potential anagram.</label>
        <input id="input2" name="input2" type="text">
      </div>
      <div class="form-group">
        <label for="input3">Input a potential anagram.</label>
        <input id="input3" name="input3" type="text">
      </div>
      <button type="submit">Compare!</button>
    </form>
  </body>
</html>
